body {
    font-family: "Segoe UI", sans-serif;
    background: #333;
    color: #ffd603;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h1 {
    color: #ffd603;
}

.input-section {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: black;
    color: #ffd603;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin: 0.3rem 0;
    cursor: pointer;
}

.pairs {
    margin-top: 2rem;
    width: 100%;
    max-width: 450px;
}

.group {
    background: #555555;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: relative;
}

.group h3 {
    margin-top: 0;
    color: #ffd603;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.pair-item {
    background: #333;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin: 0.3rem 0;
}

.danger {
    background-color: #d63031;
}

.danger:hover {
    background-color: #ff7675;
}

.edit-section {
    margin-top: 0.5rem;
    background: #f1f2f6;
    padding: 0.5rem;
    border-radius: 8px;
}

.edit-section input {
    width: calc(100% - 110px);
    margin-right: 0.5rem;
}

.edit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #525252;
    margin: 0.3rem 0;
    padding: 0.3rem 0.7rem;
    border-radius: 6px;
}

.edit-item button {
    background: #d63031;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
}

.edit-item button:hover {
    background: #ff7675;
}

.control-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}
